---
layout: page
title: 404ERROR
show_title: false
---
  <style>

    .blue-screen {
      background-color: #0086ac;
      color: #FFFFFF;
      padding: 20px;
      border-radius: 10px;
      display: inline-block;

</style>
<div class="layout--404">
  
  <div class="sign">
    <div class="blue-screen ">
    <span style="font-size: 125px; display: block; margin-bottom: 20px;">:(</span>
    <span style="font-size: 28px; display: block;">您访问的网站出现404，我们只是告诉<br>你这个错误信息，然后你可以重新访问</span>
    <span style="display: block;">可能的修复，请访问 a-youranzide.github.io</span>
    <span style="display: block;">错误代码: PAGES_NOT_FOUND_404ERROR</span>
    </div>
  </div>
</div>

{{ content }}
